# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.gen-climb.iml
# Datasource local storage ignored files
/../../../../../../../:\Practice\TechDemos\gen-climb\.idea\.idea.gen-climb.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
